@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');

@media screen and (max-width: 960px) {
  .u-content-wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .work_contents {
    display: block;
    height: auto;
  }

  .work_content {
    width: 100%;
    text-align: center;
  }

  .work_content:nth-child(3) {
    margin-top: 0;
  }


}


@media screen and (max-width: 767px) {
  .u-content-wrapper {
    width: 95%;
  }

  h1 {
    font-size: 7rem;
  }

  .florist {
    height: auto;
    background: linear-gradient(#ededed 20%, #fff 80%);
  }
  
  .florist_contents {
    display: block;
    height: auto;
  }
  
  .florist_content {
    width: 100%;
    padding-bottom: 120px;
  }

  .florist_content_img {
    margin-bottom: 8px;
  }
  
  




  .shopInformation_contents {
    display: block;
  }

  .gmap {
    width: 100%;
    padding-top: 62%;
    position: relative;
  }

  .gmap iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .shopInformation_table {
    width: 100%;
    border-spacing: 16px;
    text-align: left;
    letter-spacing: 1.5px;
    line-height: 2;
    font-family: 'Poppins', sans-serif;
  }

  .shopInformation_table_heading {
    width: 25%;
    border-right: 1px solid #a0a0a0;
    font-weight: lighter;
  }

}