@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');

@media screen and (max-width: 960px) {
  .u-content-wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .work_contents {
    display: block;
    height: auto;
  }
  .work_content {
    width: 100%;
    text-align: center;
  }
  .work_content:nth-child(3) {
    margin-top: 0;
  }
  

}


@media screen and (max-width: 767px) {
  .u-content-wrapper {
    width: 95%;
  }


}