@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

body {
  color: #333333;
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.container {
  margin: 0 auto;
  width: 84%;
}

@media (min-width: 900px) {
  .container {
    max-width: 1240px;
    width: 91%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 11px 11px 13px;
  width: 208px;
  border: solid 2px currentColor;
  border-radius: 24px;
  color: #2e5180;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.scr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 74px;
}

@media (min-width: 900px) {
  .header .container {
    height: 100px;
  }
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site img {
  margin-right: 10px;
  width: 42px;
}

.site .corp {
  color: #333333;
  font-weight: 900;
  font-size: 12px;
  line-height: 1.4;
}

.site .desc {
  color: #707f89;
  font-size: 10px;
  line-height: 1.4;
}

@media (min-width: 900px) {
  .site img {
    margin-right: 18px;
    width: 59px;
  }
  .site .corp {
    font-size: 20px;
  }
  .site .desc {
    font-size: 12px;
  }
}

.nav-button {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0;
  width: 20px;
  height: 14px;
  outline: none;
  border: none;
  background: none;
  color: #2e5180;
  cursor: pointer;
}

.nav-button::before, .nav-button::after {
  display: block;
  height: 2px;
  background-color: currentColor;
  content: "";
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.nav-button::before {
  -webkit-box-shadow: 0 6px currentColor;
          box-shadow: 0 6px currentColor;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.open .nav-button {
  z-index: 1000;
  color: #ffffff;
}

.open .nav-button::before {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(1px) rotate(45deg);
      -ms-transform: translateY(1px) rotate(45deg);
          transform: translateY(1px) rotate(45deg);
}

.open .nav-button::after {
  -webkit-transform: translateY(-1px) rotate(-45deg);
      -ms-transform: translateY(-1px) rotate(-45deg);
          transform: translateY(-1px) rotate(-45deg);
}

@media (max-width: 899px) {
  /* ブラウザのアドレスバー分の調整 */
  html.open,
  .open body {
    overflow: hidden;
    height: 100%;
  }
  .open .form {
    display: none;
  }
  .open nav {
    left: 0;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .header {
    position: relative;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
  }
  .nav ul {
    list-style: none;
    text-align: center;
    font-weight: bold;
  }
  .nav ul li:not(:last-child) {
    margin-bottom: 40px;
  }
  .nav .btn {
    color: inherit;
  }
}

@media (min-width: 900px) {
  .nav-button {
    display: none;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333333;
    list-style: none;
  }
  .nav ul li:not(:last-child) {
    margin-right: 23px;
  }
  .nav .btn {
    width: 148px;
    border-color: #cdd6dd;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  background-image: url(img/hero.jpg);
  background-position: center;
  background-size: cover;
}

.hero .catch {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 33px 0;
  background-color: rgba(255, 255, 255, 0.76);
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  line-height: 1.3;
}

.hero .container img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.hero .container p {
  margin-bottom: 15px;
  color: #2e5180;
  font-size: 14px;
}

@media (min-width: 900px) {
  .hero {
    height: 700px;
  }
  .hero .catch {
    padding: 47px 0 44px;
  }
  .hero p {
    margin-bottom: 22px;
    font-size: 16px;
  }
}

@media (-ms-high-contrast: none), not all and (-ms-high-contrast: none) {
  .hero img {
    max-width: 637.78px;
    width: calc((100vw - 17px) * 0.84);
  }
}

.message {
  padding: 67px 0;
  background-color: #2e5180;
  color: #ffffff;
}

.message h2 {
  margin-bottom: 38px;
  text-align: center;
  font-size: 24px;
  line-height: 1.67;
}

.message p {
  margin: auto;
  max-width: 640px;
  font-size: 14px;
  line-height: 1.86;
}

@media (min-width: 900px) {
  .message {
    padding: 81px 0;
  }
  .message h2 {
    font-size: 36px;
    line-height: 1.33;
  }
}

@media (max-width: 374px) {
  .message h2 {
    font-size: 20px;
  }
}

.service {
  padding: 67px 0;
  text-align: center;
}

.service h2 {
  display: inline-block;
  margin-bottom: 16px;
  padding-bottom: 9px;
  border-bottom: dotted 2px currentColor;
  color: #2e5180;
  font-size: 24px;
}

.service h2 + p {
  color: #2e5180;
  font-size: 16px;
}

@media (min-width: 900px) {
  .service {
    padding: 95px 0 87px;
  }
  .service h2 {
    font-size: 36px;
  }
}

.details {
  margin-top: 53px;
  color: #333333;
}

.detail:not(:last-child) {
  margin-bottom: 67px;
}

.detail h3 {
  margin-bottom: 17px;
  font-size: 20px;
  line-height: 1.75;
}

.detail p {
  margin: 0 auto 25px;
  max-width: 264px;
  font-size: 12px;
  line-height: 2;
}

.detail figure {
  margin-bottom: 22px;
  height: 246px;
  background-position: center;
  background-size: cover;
}

.detail.office figure {
  background-image: url(img/office.jpg);
}

.detail.manage figure {
  background-image: url(img/manage.jpg);
}

.detail.research figure {
  background-image: url(img/research.jpg);
}

@media (min-width: 900px) {
  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 75px;
  }
  .detail {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 3.22%;
  }
  .detail:first-child {
    margin-left: 3.22%;
  }
  .detail:not(:last-child) {
    margin-bottom: 0;
  }
  .detail h3 {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 1.4;
  }
  .detail p {
    max-width: none;
    width: 78%;
  }
  .detail figure {
    margin-bottom: 33px;
    height: 360px;
  }
  /* ボタンのタテ位置を揃える */
  .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detail .btn {
    margin-top: auto;
  }
}

.contact {
  padding: 62px 0;
  background-color: #eef4f8;
  color: #333333;
}

.contact h2 {
  margin-bottom: 42px;
  font-size: 24px;
}

.contact h2 + p {
  font-size: 12px;
  line-height: 2.17;
}

@media (min-width: 900px) {
  .contact {
    padding: 0;
    background: none;
  }
  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 96px 9% 62px;
    background-color: #eef4f8;
  }
  .contact .text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .contact .form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-top: 0;
    margin-left: 1em;
    max-width: 457px;
  }
  .contact h2 {
    font-size: 36px;
  }
  .contact h2 + p {
    font-size: 14px;
    line-height: 1.86;
  }
}

.form {
  margin-top: 46px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 17px;
  padding: 12px 20px 14px;
  width: 100%;
  border: solid 1px #cdd6dd;
  border-radius: 0;
  color: #333333;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-appearance: none;
}

.form ::-webkit-input-placeholder {
  color: #cdd6dd;
  opacity: 1;
}

.form :-ms-input-placeholder {
  color: #cdd6dd;
  opacity: 1;
}

.form ::-ms-input-placeholder {
  color: #cdd6dd;
  opacity: 1;
}

.form ::placeholder {
  color: #cdd6dd;
  opacity: 1;
}

.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: #cdd6dd;
}

.form textarea {
  height: 150px;
}

.form .btn {
  margin: 0;
  width: 100%;
  border: none;
  background-color: #2e5180;
  color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
}

.form .btn:active {
  outline: none;
}

@media (min-width: 900px) {
  .form .btn {
    width: 272px;
  }
}

.footer {
  padding: 38px 0 56px;
  background-color: #2e5180;
}

.footer .site img {
  margin-right: 14px;
  width: 47px;
}

.footer .site .corp {
  color: #ffffff;
  font-size: 16px;
}

.footer .add {
  margin: 20px 0 36px 61px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
}

.footer .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 61px;
  list-style: none;
}

.footer .sns li:not(:first-child) {
  margin-left: 25px;
}

.footer .sns img {
  width: 35px;
}

@media (min-width: 900px) {
  .footer {
    position: relative;
    z-index: -1;
    margin-top: -48px;
    padding: 105px 0 88px;
  }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .site img {
    margin-right: 18px;
    width: 59px;
  }
  .footer .site .corp {
    font-size: 20px;
  }
  .footer .add {
    margin: 22px 0 0 77px;
  }
  .footer .sns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 59px;
  }
}

body {
  -webkit-animation: fade 3s ease-in-out;
          animation: fade 3s ease-in-out;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */